@{
    ViewData["Title"] = "Home Page";
}

<script>
    window.onload = findPizzas

    function findPizzas() {
	    $.getJSON("api/pizza/",
            function (listaPizze) {
                //console.info(listaPizze);
                var myTable1 = '';
                myTable1 += '<table id="myTable1" style="margin-left: auto; margin-right: auto;" cellspacing=0 cellpadding=2 border=1>';
                myTable1 += "<tr><td><b>Nome Pizza</b></td><td><b>Ingredienti</b></td><td><b>Prezzo (euro)</b></td></tr>";

                $.each(listaPizze, function (i, v) {
                    myTable1 += "<tr><td>" + v.name + "</td><td>" + v.ingredients.join(', ') + "</td><td>"+v.price+"</td></tr>";
                });

                $("#divPizze").html(myTable1);

		    })/*.fail(
		        function (jqXHR, textStatus, err) {
                    $('#divPizze').html('Error: ' + err);
				    });*/
    }


</script>

<div class="text-center">
    <h1 class="display-4">Pizza.Net</h1>
    <h3>Ciao! Benvenuto su Pizza.Net.</h3><br>
    <p>
        Preferisci riceverle a casa o ritirarle da noi? Nessun problema! Ti verrà chiesto al momento del
        checkout dell'ordine! Anche il pagamento può essere fatto online oppure in negozio. 
        Ecco la lista delle nostre pizze:
    </p>
    <div id="divPizze"></div>
</div>
